/* CSS reset */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, cite, code,
img, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body { line-height: 1; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* CSS reset ends */

html { height:100%; overflow-y: scroll; }
body { height:100%; font-family: arial; }

#container { min-height: 100%; position: relative; }
   
#wrapper { padding: 10px 0 90px 0; }
.v-align { display: inline-block; vertical-align: middle; }
.centered { clear: both; margin: 0 auto; width: 980px; }

.page-content { line-height: 1.4; padding: 1% 9%; }
.page-content p { margin: 20px 0; }


.periodic-table { clear: both; margin: 10px auto; }
.periodic-table .heading { font-size: 20px; font-weight: bold; margin: 5px 0; }
.periodic-table th  { font-weight: bold; }
.periodic-table th, .periodic-table td { border: 1px solid transparent; float: left; height: 40px; margin: 1px; padding: 3px; width: 40px; }
.el { background: #d8d8d8; }
.periodic-table .col2 { line-height: 40px; margin: 1px 2px; padding: 3px 12px 3px 0; width: 80px; } /* needs revising! */

.non-metal { background: #68e841; }
.noble-gas { background: #b8c1de; }
.halogen { background: #e7e5b0; }
.alkali-metal { background: #e79292; }
.transition-metal { background: #E7C4C4; }
.metalloid { background: #79a969; }
.alkali-earth-metal { background: #ffec4c; }
.post-transition-metal { background: #90cba3; }
.lathanide { background: #ebb0ef; }
.actinide { background: #d680db; }


.key-list { margin: 5px 0; overflow: hidden; }
.key-list li { float: left; margin: 2px 5px; width: 200px; }
.key-list .el { float: none; }

.footer { background: #eae6e6; border-top: 1px solid #c2bcbc; bottom: 0; color: #666; float: left; height: 16px; padding: 20px 0; position: absolute; text-align: center; width: 100%; }
.footer a { color: #000; text-decoration: none; }

/* Responsive stuff */
@media (max-width: 1600px) {
	td:nth-of-type(1).el-expanded .further-information { left: -10px; right: -210px; }
	td:nth-of-type(18).el-expanded .further-information { left: -210px; right: -10px; }
}
@media (min-width: 1200px) {
	.centered { width: 1150px; }

	.periodic-table th, .periodic-table td { height: 50px; width: 50px; }

	.v-align { overflow: hidden; display: table-cell; padding: 0 0 0 9px; vertical-align: middle; height: 59px; }
}
/* Responsive stuff */
@media (min-width: 1400px) {
	.centered { width: 1350px; }

	.periodic-table th, .periodic-table td { height: 60px; width: 61px; }

	.key-list li { width: 182px; }
	.v-align { overflow: hidden; display: table-cell; padding: 0 0 0 9px; vertical-align: middle; height: 69px; }
}
/* Mobile Styles */
@media (max-width: 800px) {
	.navigation-container { left: 0; position: fixed; right: 0; top: 0; z-index: 1000; }
	#main-nav { margin: 6px 0; }
	#main-nav li { display: block; }
	#main-nav .PageSelected a { background-image: none; }
	#element-close { top: 14px; }

	#wrapper { padding-top: 54px; }

	.centered,
	.periodic-table { text-align: center; width: 100%; }
	.periodic-table th,
	.periodic-table td { display: none; }
	.key-list li { margin: 2px 0; width: 100%; }
	.key-el { max-width: 30px; min-height: 30px; }
}