.table-search {
	background: #efefef;
	border: 3px solid #C2BCBC;
	color: #555;
	min-width: 300px;
	padding: 8px 12px;
	position: absolute;
	right: 0;
	top: 9px;
}
.table-search:focus {
	background: #fff;
}